
<nav class="navbar  navbar-expand-lg navbar-light  justify-content-center ">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Главная страница</a> 
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/posts">Посты</a> 
      </li>
      <li class="nav-item">
        <div class="btn-group justify-content-center">
          <button (click)="onUser()" class="btn btn-primary" [ngClass]="{ active: role.role === 'user'}">User</button>
          <button (click)="onAdm()" class="btn btn-primary" [ngClass]="{ active: role.role === 'admin'}">Admin</button>
          </div>
      </li>
  </ul>
  </nav>
 
  <router-outlet></router-outlet>