<div class="main">
<div class="start">
<button class="btn" id="go" (click)="OnButtStart()">Go</button>
</div>
<div class="colums">
  <div class="frst" >
    <div>
      <p>Array of numbers:</p>
    <p id="frst1"></p>
    <button class="btn" id="stop" (click)="OnButtStop()">Stop</button>
    </div>
  </div>
  <div class="scnd">
    <div>
      <p>Array of random numbers:</p>
    <p id="scnd2"></p>
    <button class="btn" id="stop" (click)="OnButtStop2()">Stop</button>
    </div>
  </div>
</div>
</div>
