<form class="container my-auto">
  <div class="mb-3">
    <label class="form-label">Наименование</label>
    <input required pattern="[А-Яа-яЁё]*" name="name" #bookName="ngModel" [(ngModel)]="new_book.name" type="text" class="form-control">
    <div
        *ngIf="bookName.hasError('pattern') "
        class="alert alert-danger mt-2"
        role="alert"
      >
        Поле должно содержать только кириллические символы
      </div>
<div
      *ngIf="bookName.hasError('required')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Поле должно быть заполнено
    </div>
  </div>
  <div class="mb-3">
    <label class="form-label">Автор</label>
    <input required pattern="[А-Яа-яЁё]*" name="author" #bookAuthor="ngModel" [(ngModel)]="new_book.author" type="text" class="form-control">
    <div
        *ngIf="bookAuthor.hasError('pattern')"
        class="alert alert-danger mt-2"
        role="alert"
      >
        Поле должно содержать только кириллические символы
      </div>
      <div
      *ngIf="bookAuthor.hasError('required')"
      class="alert alert-danger mt-2"
      role="alert"
    >
      Поле должно быть заполнено
    </div>
  </div>
  <button (click)="newBook()" type="submit" class="btn btn-primary"  [disabled]="bookName.invalid || bookAuthor.invalid">Добавить</button>
</form>

<h1 class="display-6 container m-5 text-center">Список книг</h1>
<table class="table table-striped container pt-10">
  <thead>
    <tr>
      <th scope="col">Номер</th>
      <th scope="col">Название книги</th>
      <th scope="col">Автор</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ book.name }}</td>
      <td>{{ book.author }}</td>
    </tr>
  </tbody>
</table>


